<% if user_signed_in? %>
  <h1>Solaredge Calculator</h1>

  <p>Please enter information below:</p>

  <%= form_for(@query) do |f| %>

    <div class="field">
      <%= f.label :start_date, "Start Date" %>
      <%= f.text_field :start_date %>
    </div>

    <div class="field">
      <%= f.label :end_date, "End Date" %>
      <%= f.text_field :end_date %>
    </div>

    <div class="field">
      <%= f.label :kWh_rate, "kWh Rate" %>
      <%= f.text_field :kwh_rate %>
    </div>

    <div class="field">
      <%= f.label :kWh_credit, "kWh Credit" %>
      <%= f.text_field :kwh_credit %>
    </div>

    <div class="field">
      <%= f.label :sent_to_grid, "Sent To Grid" %>
      <%= f.text_field :sent_to_grid %>
    </div>

    <div class="field">
      <%= f.label :distribution_charge, "Distribution Charge" %>
      <%= f.text_field :distribution_charge %>
    </div>

    <div class="actions">
      <%= f.submit "Submit" %>
    </div>

  <% end %>

  <table>
    <thead>
      <tr>
        <th>kWh Generated</th>
        <th>kWh Consumed</th>
        <th>Savings Consumed</th>
        <th>Sent to Grid</th>
        <th>Credit Grid</th>
        <th>Savings Before Distribution</th>
        <th>Distribution Charge</th>
        <th>Total Savings</th>
      </tr>
    </thead>
    <tbody>
      <% @queries.each do |query| %>
        <tr>
          <td><%= query.kwh_generated %></td>
          <td><%= query.consumed %></td>
          <td><%= query.savings_consumed %></td>
          <td><%= query.sent_to_grid %></td>
          <td><%= query.credit_grid %></td>
          <td><%= query.savings_before_distribution %></td>
          <td><%= query.distribution_charge %></td>
          <td><%= query.total_savings %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
