<% if user_signed_in? %>
  <h1>Solaredge Calculator</h1>

  <p>Please enter information below:</p>

  <%= form_for(@credit) do |f| %>

    <div class="field">
      <%= f.label :tax_credit, "Tax Credit" %>
      <%= f.text_field :tax_credit %>
    </div>

    <div class="field">
      <%= f.label :srec_credit, "SREC Credit" %>
      <%= f.text_field :srec_credit %>
    </div>

    <div class="actions">
      <%= f.submit "Submit" %>
    </div>

  <% end %>


  <%= form_for(@query) do |f| %>

    <div class="field">
      <%= f.label :start_date, "Start Date" %>
      <%= f.text_field :start_date %>
    </div>

    <div class="field">
      <%= f.label :end_date, "End Date" %>
      <%= f.text_field :end_date %>
    </div>

    <div class="field">
      <%= f.label :kWh_rate, "kWh Rate" %>
      <%= f.text_field :kwh_rate %>
    </div>

    <div class="field">
      <%= f.label :kWh_credit, "kWh Credit" %>
      <%= f.text_field :kwh_credit %>
    </div>

    <div class="field">
      <%= f.label :sent_to_grid, "Sent To Grid" %>
      <%= f.text_field :sent_to_grid %>
    </div>

    <div class="field">
      <%= f.label :distribution_charge, "Distribution Charge" %>
      <%= f.text_field :distribution_charge %>
    </div>

    <div class="actions">
      <%= f.submit "Submit" %>
    </div>

  <% end %>

    <table>
      <thead>
        <tr>
          <th>Start Date</th>
          <th>End Date</th>
          <th>kWh Generated</th>
          <th>kWh Consumed</th>
          <th>Savings Consumed</th>
          <th>Sent to Grid</th>
          <th>Credit Grid</th>
          <th>Savings Before Distribution</th>
          <th>Distribution Charge</th>
          <th>Total Savings</th>
        </tr>
      </thead>
      <tbody>
        <% @queries.each do |query| %>
          <tr>
            <% if query.user == current_user %>
              <td><%= query.start_date %></td>
              <td><%= query.end_date %></td>
              <td><%= query.kwh_generated %></td>
              <td><%= query.consumed %></td>
              <td><%= query.savings_consumed %></td>
              <td><%= query.sent_to_grid %></td>
              <td><%= query.credit_grid %></td>
              <td><%= query.savings_before_distribution %></td>
              <td><%= query.distribution_charge %></td>
              <td><%= query.total_savings %></td>
              <td><%= link_to "Delete", query_path(query), method: :delete %><td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h2>Credits:</h2>
    <table>
      <thead>
        <tr>
          <th>Tax Credits</th>
          <th>SREC Credits</th>
        </tr>
      </thead>
      <tbody>
        <% @credits.each do |credit| %>
          <% if credit.user == current_user %>
            <tr>
              <td><%= credit.tax_credit %></td>
              <td><%= credit.srec_credit %></td>
              <td><%= link_to "Delete", credit_path(credit), method: :delete %><td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <h2>Totals:</h2>
    <table>
      <thead>
        <tr>
          <th>kWh Generated</th>
          <th>kWh Consumed</th>
          <th>Savings Consumed</th>
          <th>Sent to Grid</th>
          <th>Credit Grid</th>
          <th>Savings Before Distribution</th>
          <th>Distribution Charge</th>
          <th>Grand Total Savings</th>
        </tr>
      </thead>
      <tbody>
        <% @totals.each do |total| %>
          <% if total.user == current_user %>
            <tr>
              <td><%= total.kwh_generated %></td>
              <td><%= total.kwh_consumed %></td>
              <td><%= total.savings_consumed %></td>
              <td><%= total.sent_to_grid %></td>
              <td><%= total.credit_grid %></td>
              <td><%= total.savings_before_distribution %></td>
              <td><%= total.distribution_charge %></td>
              <td><%= total.total_savings %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <h2>Return On Investment:</h2>
    <table>
      <thead>
        <tr>
          <th>Initial Investment</th>
          <th>Return on Investment</th>
        </tr>
      </thead>
      <tbody>
        <% @totals.each do |total| %>
          <% if total.user == current_user %>
            <tr>
              <td><%= current_user.initial_investment %></td>
              <td><%= current_user.return_on_investment = current_user.initial_investment - total.total_savings %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>


<% end %>
