<!DOCTYPE html>
<html>
<head>
  <title>SolarCalculator</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <% if user_signed_in? %>
        <li><%= current_user.first_name %> <%= current_user.last_name %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "Edit Account", edit_user_registration_path %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path%></li>
      <% end %>
    </ul>
  </nav>
  <div class="notice"><%= flash[:notice] %></div>
  <div class="alert"><%= flash[:alert] %></div>

<%= yield %>

</body>
</html>
